
body {
    font-family: 'Kumbh Sans', sans-serif;
}

header {
  padding: 20px 0;
}

/*apply css properties to logo tag*/

.logo{
  position: relative;
  text-align: left;
  right: 90px;
  top: 10px;
  margin-bottom: auto;
}

/* apply css properties to head tag*/

nav {
  position: absolute;
  top: 50px;
  right: 200px;
}

nav li {
  display: inline;
  margin: 0 0 0 10px;
}

nav a {
  text-transform: uppercase;
  color: #BDB76B;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #FF8C00;
  text-decoration: overline;
}

/*apply css properties to body tag*/

body {
    position: absolute;
    left: 0%;
    text-align: left;
}

/*apply css properties to background tag*/

.background{
    background-image: url(http://down.699pic.com/photo/40194/1716.jpg?_upt=64e424871664357952&_upd=Lovepik_com-401941716-e-commerce-background.jpg);
    position: relative;
    background-size: 0 0 0 auto;
    height: 100%;
    margin:-90px 50px;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    width: 90%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #C0C0C0;

}    

/*apply css properties to title and sneakers explain tag*/

.limitededition{
  position: absolute;
  font-size: 40px;
  left: 600px;
  top: 200px;
  color:#FFFFFF;
  font-weight: bold;

}

.sneakers-explain{
  position: absolute;
  top: 250px;
  left: 600px;
  right: 180px;
  font-size: 18px;
  color:black;
  font-style: italic;
  line-height: 1.5;
}

/*apply css properties to sneakers images tag*/

.image1{
  width: 30%;
  position: absolute;
  top: 190px;
  left: 100px;
  border: 1px solid none;
  border-radius: 10px;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #B0C4DE;
  cursor: pointer;
}

.image1:hover {
  opacity: 0.7;
}

.image2{
  width: 8%;
  position: absolute;
  top: 630px;
  left: 100px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
  cursor: pointer;
}

.image2:hover {
  opacity: 0.7;
}

.image3{
  width: 8%;
  position: absolute;
  top: 630px;
  left: 245px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
  cursor: pointer;
}

.image3:hover {
  opacity: 0.7;
}

.image4{
  width: 8%;
  position: absolute;
  top: 630px;
  left: 390px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
  cursor: pointer;
}

.image4:hover {
  opacity: 0.7;
}

/*apply css properties to values tag*/

.discountprice{
  position: absolute;
  top: 400px;
  left: 600px;
  right: 900px;
  font-size: 30px;
  font-weight: bold;
}

.discount{
  position: absolute;
  top: 410px;
  left: 720px;
  font-size: 20px;
  box-sizing: border-box;
  border: 2px solid orange;
  border-radius:5px;
  padding: 8px 8px;
  background: orange;
  color: white;
  font-weight: bold;
  opacity: 1;
  transition: 400ms;
  box-shadow: 5px 5px 5px 0 #FFDEAD; 
}

.fullprice{
  position: absolute;
  top: 450px;
  left: 600px;
  font-size: 18px;
  text-decoration: line-through;
  color: lightgray;
}

/*apply css properties to Add to cart tag*/

.submit{
  position: absolute;
  top: 500px;
  left: 800px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(orange, orangered);
  box-sizing: border-box;
  border: none;
  border-radius:5px;
  padding: 20px 40px;
  cursor: pointer;
  transition: 1s all;
  color: white;
}

.submit:hover {
    background: orange;
    transform: scale(1.1);
}

/*apply css properties to increment/decrement tag*/
  
.box{
  position:absolute;
  top: 470px;
  left: 550px;
  font-size: 25px;
  display: inline-flex;
  margin: 50px;
  width: 500px;
  text-align: center;
}

button {
    width: 40px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    background-color:orange;
    color: white;
    box-sizing: border-box;
    border: none;
    border-radius:5px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: purple;
    color: honeydew;
}

input{
    box-sizing: border-box;
    border: none;
    border-radius:5px;
    text-align: center;
    color: darkorange;
    font-weight: bolder;
}

/*apply css properties to footer/copyright tag*/
footer{
  text-align: center;
  margin: 50px 0;
}

.copyright{
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

  /*apply css properties to cart tag*/

.buy {
    padding-right: 120px;
    text-align: right;
    width: 90px;
    height: 50px;
    position: relative;
    float: right;
    bottom: 14px;
    clear: right;
    top: -150px;
    text-transform: uppercase;
    color: #BDB76B;
    font-weight: bold;
    font-size: 10px;
    
}
.buy ol {
      display: inline;
      text-align: center;
      list-style-type: none;
      color: #BDB76B;
      
}
.cart {
      position: absolute;
      bottom: 10px;
      width: 30px;
}
.buy a {
      text-decoraton: none;
      text-align: center;
      list-style-type: none;
      color: #BDB76B;     
}
