
body {
    font-family: 'Kumbh Sans', sans-serif;
}

header {
  background: linear-gradient(#E0FFFF, #B0E0E6);
  padding: 20px 0;
}

/*apply css properties to logo tag*/

.logo{
  position: relative;
  text-align: left;
  right: 90px;
  top: 30px;
  margin-bottom: auto;
}

/* apply css properties to head tag*/

nav {
  position: absolute;
  top: 50px;
  right: 200px;
}

nav li {
  display: inline;
  margin: 0 0 0 10px;
}

nav a {
  text-transform: uppercase;
  color: #BDB76B;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #FF8C00;
  text-decoration: overline;
}

/*apply css properties to body tag*/

body {
    position: absolute;
    left: 0%;
    text-align: left;
}

.background{
    background-image: url(http://down.699pic.com/photo/40194/1716.jpg?_upt=64e424871664357952&_upd=Lovepik_com-401941716-e-commerce-background.jpg);
    position: relative;
    background-size: 0 0 0 auto;
    width: 100%;
    height: 100%;

}    

.limitededition{
  position: absolute;
  font-size: 40px;
  left: 600px;
  top: 200px;
  color:#FFFFFF;
  font-weight: bold;
}

.sneakers-explain{
  position: absolute;
  top: 290px;
  left: 600px;
  right: 200px;
  font-size: 18px;
  color:white;
  font-style: italic;
  line-height: 1.5;
}

.image1{
  width: 35%;
  position: absolute;
  top: 300px;
  left: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 35%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
  cursor: pointer;
}

.image1:hover {
  opacity: 0.7;
}

.image2{
  width: 10%;
  position: absolute;
  top: 800px;
  left: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 10%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
  cursor: pointer;
}

.image2:hover {
  opacity: 0.7;
}

.image3{
  width: 10%;
  position: absolute;
  top: 800px;
  left: 180px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 10%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
  cursor: pointer;
}

.image3:hover {
  opacity: 0.7;
}

.image4{
  width: 10%;
  position: absolute;
  top: 800px;
  left: 345px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 10%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
  cursor: pointer;
}

.image4:hover {
  opacity: 0.7;
}

.discountprice{
  position: absolute;
  top: 500px;
  left: 600px;
  right: 900px;
  font-size: 30px;
  font-weight: bold;
}

.discount{
  position: absolute;
  top: 500px;
  left: 720px;
  font-size: 20px;
  box-sizing: border-box;
  border: 2px solid orange;
  border-radius:5px;
  padding: 8px 8px;
  background: orange;
  color: white;
  font-weight: bold;
  opacity: 1;
  transition: 400ms;
  box-shadow: 5px 5px 5px 0 #FFDEAD; 
}

.fullprice{
  position: absolute;
  top: 530px;
  left: 600px;
  font-size: 18px;
  text-decoration: line-through;
  color: lightgray;
}

.submit{
  position: absolute;
  top: 580px;
  left: 800px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(orange, orangered);
  box-sizing: border-box;
  border: none;
  border-radius:5px;
  padding: 20px 40px;
  cursor: pointer;
  transition: 1s all;
  color: white;
}

.submit:hover {
    background: orange;
    transform: scale(1.1);
}

/*apply css properties to button tag*/
  
.box{
  position:absolute;
  top: 550px;
  left: 550px;
  font-size: 25px;
  display: inline-flex;
  margin: 50px;
  width: 500px;
  text-align: center;
}

button {
    width: 40px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    background-color:orange;
    color: white;
    box-sizing: border-box;
    border: none;
    border-radius:5px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: purple;
    color: honeydew;
}

input{
    box-sizing: border-box;
    border: none;
    border-radius:5px;
    text-align: center;
    color: darkorange;
    font-weight: bolder;
}
/*apply css properties to h2 tag*/
  
/*h2 {
    color: black;
    margin: 0 50px;
    font-size: 20px;
    font-weight: bold;
}*/

/*apply css properties to fieldset tag*/

footer{
  text-align: center;
  background: linear-gradient(#D8BFD8, #B0E0E6);
  padding: 40px 0;
}

.copyright{
  color: #000000;
  font-size: 16px;
  margin: 10px 50px;
}

@media screen and (max-width:  600px){
.logo, .edition, .limitededition, .submit, .discountprice, .discount, .fullprice, .box, .sneakers, .little-sneakers, .footer-image, .cpoyright{
  width: auto;
  }

  /*apply css properties to cart tag*/

/*.buy {
      font-size: 12px;
      padding-right: 35px;
      text-align: right;
      width: 150px;
      height: 25px;
      position: relative;
      float: right;
      bottom: 14px;
      clear: right;
}
.buy ol li {
      display: inline;
      text-align: center;
      list-style-type: none;
}
.cart {
      position: absolute;
      bottom: 5px;
}
.buy a {
      text-decoraton: none;
}*/
